@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.inicio{
    font-size:100%;
    background: #c3b9b932;
}

.cabecalho{
    display:flex;
    gap: 220px;
}

.inicio{
    display:flex;
    flex-direction:row;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 15px;
}
.LogoSocial1{
    height: 45px;
    width: 120px;
}
.LogoSocial2{
    height: 45px;
    width: 120px;
}
.LogoSocial3{
    height: 45px;
    width: 120px;
}
.LogoSocial4{
    height: 45px;
    width: 120px;
}
.conteudo{
    border-top: 0.2px solid black;
    margin-bottom: 48px;
}

.conteudoPrincipal{
    display:flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}
.conteudoPrincipalEscrito{
    display:flex;
    flex-direction: column;
    font-family: 'Merriweather', serif;
    color: black;
    gap: 32px;
}
.apresentação{
    font-family: 'Merriweather', serif;
    color: black;
    gap: 32px;
}


